section#hero {
    width: 100vw;
    height: 30vh;
}

section#whyUs {
    /* float: left; */
    background-color: var(--light-green);
    width: 40vw;
    grid-column: 1;
}

section#callToAction {
    background-color: var(--mint);
    width: 60vw;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 800px) {
    section#whyUs {
        width: 100vw;
    }
    section#callToAction {
        width: 100vw;
    }
}