h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    padding: 30px;
    font-weight: 900;
    background-color: var(--yellow);
}

* {
    font-family: 'Domine', serif;
    font-size: 20px;
}

:root {
    /* can use coolors.co to generate color palette */
    --primary-color: #011627;
    --white: #f8f6ff;
    --yellow: #F1A208;
    --light-green: #B9E3C6;
    --mint: #59C9A5;
    --pink: #D81E5B;
}

#copyright {
    font-size: 10px;
}

#tableCards {
    padding-top: 20px;
}

#hero {
    padding-bottom: 190px;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--primary-color);
    width: 100vw;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

li {
    display: inline;
    margin: 5px;
}

main > .container {
    display: grid;
}

main > section > h2 {
    padding-top: 25px;
}

main {
    padding-top: 25px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 50px;
    background-color: var(--primary-color);
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#copyright {
    position: absolute;
    color: var(--white)
    /* bottom: 25px;
    right:  35px; */
}

a {
    font-size: 30px;
    color: var(--white);
}

a:link {
    text-decoration: none;
}

a:visited {
    color: var(--pink)
}

a:hover {
text-decoration: underline;
}

a:focus {
    text-decoration: underline;
}

a:active {
    font-size: 28px;
}

.grid {
    display: grid;
    gap: 50px;
}

@media (max-width: 800px) {
    .disappearing {
        display:none;
      }
    }
    .mobileFeature {
        display: inline;
    }

@media (min-width: 801px) {
    .mobileFeature {
        display: none;
    }
}