footer {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 50px;
    background-color: var(--mdc-theme-primary);
    color: white;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}