main {
  display: grid;
  grid-template: 1fr 2fr 2fr / 1fr 1fr 1fr;
}
.page-title {
  grid-area: 1/1/1/4;
}
  
#dealersCards {
  grid-area: 2/2/3/3;
  position: absolute;
  top: 200px;
  left: 500px;
}

#playersCards {
  grid-area: 3/2/4/3;
  position: absolute;
  top: 200px;
  left: 0px;
}
  
ol {
  display: flex;
}

ol li {
  background-color: var(--yellow);
  padding: 5px;
  height: 140px;
  width: 100px;
  margin: 20px;
  word-wrap: break-word;
  position: relative;
}

ol li:hover::after {
  content: attr(data-blackjack-value);
  position: absolute;
  background-color: var(--primary-color);
  color: var(--white);
  top: 70px;
  left: 25px;
  box-sizing: border-box;
  width: 60px;
  padding: 20px;
}
  
#playersActions {
  position: absolute;
  left: 100px;
  top: 150px;
}

button:hover::before {
  content: attr(data-user-hints);
  position: absolute;
  top: 0px;
  left: 550px;
  box-sizing: border-box;
  width: 220px;
  padding: 10px;
  border: 2px solid var(--pink);
}

button:active::before {
  color: var(--mint);
}

#betting {
  position: absolute;
  top: 450px;
}